<div id="loading-block" style="display: none;">Загрузка...</div>
<div id="filter-block">
  <div>
    <input type="checkbox" id="make-error"/>
    <label for="make-error">Выполнять запросы с ошибкой</label>
  </div>
  <input type="text" placeholder="название города" id="filter-input">
  <div id="filter-result">

  </div>
</div>
<div id="search-error" style="display: none;">
  <div id="error-text" style="color: red;">Не удалось загрузить города</div>
  <button id="repeat-search">Повторить (без ошибок)</button>
</div>